@page
@model RegisterModel

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Создать новый аккаунт</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Поле ФИО -->
            <div class="form-floating mb-3">
                <input asp-for="Input.FullName" class="form-control" autocomplete="name" />
                <label asp-for="Input.FullName"></label>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>

            <!-- Поле должность -->
            <div class="form-floating mb-3">
                <input asp-for="Input.Position" class="form-control"/>
                <label asp-for="Input.Position"></label>
                <span asp-validation-for="Input.Position" class="text-danger"></span>
            </div>

            <!-- Поле Логин -->
            <div class="form-floating mb-3">
                <input asp-for="Input.UserName" class="form-control" autocomplete="username" />
                <label asp-for="Input.UserName"></label>
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>

            <!-- Поле Пароль (необязательное) -->
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <!-- Подтверждение пароля -->
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Зарегистрироваться</button>
        </form>
    </div>
</div>